name: Build Docker & Trivy Scan

on:
  push:
    branches: ["master"]
  pull_request:

jobs:
  build_and_scan:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Build Java App
        run: mvn clean package -DskipTests

      - name: Build Docker image
        run: docker build -t myapp:latest .

      # -------------------- FIXED TRIVY INSTALLATION --------------------
      - name: Install Trivy
        run: |
          sudo apt-get update -y
          sudo apt-get install -y wget
          wget https://raw.githubusercontent.com/aquasecurity/trivy/main/contrib/install.sh
          chmod +x install.sh
          sudo ./install.sh
          sudo mv ./bin/trivy /usr/local/bin/trivy
          trivy --version

      - name: Run Trivy Scan
        run: |
          trivy image --exit-code 0 --format table -o trivy-report.txt myapp:latest
          trivy image --exit-code 1 myapp:latest

      - name: Upload Trivy Report
        uses: actions/upload-artifact@v4
        with:
          name: trivy-report
          path: trivy-report.txt
